.box-product{
    background-color: rgb(253, 253, 253);
    width: 350px;
    padding: 20px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.titule-prod{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 600;
}

.price-prod{
    font-size: 20px;
    padding: 10px;
}

.img-prod{
    width: 100%;
    height: 300px;
}

/* boton de comprar */

.box-btnbuy{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn-buy{
    border: none;
    background-color: #e57603;
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 15px;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 500ms;
}

.btn-buy:hover{
    background-color: #ffba3a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}